<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderStock">
            <h2><span jhiTranslate="campacksysApp.orderStock.detail.title">Order Stock</span> {{orderStock.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="campacksysApp.orderStock.date">Date</span></dt>
                <dd>
                    <span>{{orderStock.date}}</span>
                </dd>
                <dt><span jhiTranslate="campacksysApp.orderStock.quantity">Quantity</span></dt>
                <dd>
                    <span>{{orderStock.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="campacksysApp.orderStock.state">State</span></dt>
                <dd>
                    <span jhiTranslate="{{'campacksysApp.OrderStockState.' + orderStock.state}}">{{orderStock.state}}</span>
                </dd>
                <dt><span jhiTranslate="campacksysApp.orderStock.alert">Alert</span></dt>
                <dd>
                    <div *ngIf="orderStock.alert">
                        <a [routerLink]="['/alert', orderStock.alert?.id, 'view']">{{orderStock.alert?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="campacksysApp.orderStock.supplier">Supplier</span></dt>
                <dd>
                    <div *ngIf="orderStock.supplier">
                        <a [routerLink]="['/supplier', orderStock.supplier?.id, 'view']">{{orderStock.supplier?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="campacksysApp.orderStock.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="orderStock.employee">
                        <a [routerLink]="['/employee', orderStock.employee?.id, 'view']">{{orderStock.employee?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-stock', orderStock.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
