<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="discount">
            <h2><span jhiTranslate="campacksysApp.discount.detail.title">Discount</span> {{discount.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="campacksysApp.discount.nature">Nature</span></dt>
                <dd>
                    <span jhiTranslate="{{'campacksysApp.DiscountNature.' + discount.nature}}">{{discount.nature}}</span>
                </dd>
                <dt><span jhiTranslate="campacksysApp.discount.amount">Amount</span></dt>
                <dd>
                    <span>{{discount.amount}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/discount', discount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
